<a href="https://colab.research.google.com/github/rhgurqo52/ai/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
###############
# 주석 comment
###############



'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''


# 보통 삼중 따옴표 주석은
# 여러줄을 주석으로
# 사용할 때 사용한다.

# 주석 붙이는 위치

print('Hello World') # 보통 행의 우측 또는 위에 주석을 붙인다.

'\n작성자 : 홍길동\n'

In [3]:
###############
# 변수 Variable
###############

score = 200

print(score)

score = 300

print(score)

200
300

In [ ]:
1a =

In [ ]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

In [4]:
###############
# 기본 자료형 type
###############

a = int(1.9)
print(a)

b = int(True)
print(b)

b = int(False)
print(b)

c = int(False)
print(c)

1
1
0

In [7]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [11]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [12]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [14]:
######################
#문자열 String
######################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [17]:
# 문자열  인덱싱

# hello 파이썬은 0에서 시작한다. 

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5] == s[0])
      
ss = "980104-1284115"
print(ss[7])

o
o
True
1

In [20]:
ss = "990211-1005432"
print(ss[0:2]) # 0 번째 부터 2번째 미만까지..[start:stop:step]
print(ss[0:2]) # step은 생략 가능...
print(ss[0:10:2])  # step은 생략 가능...

99
99
901-0

In [21]:
# print

print('Hello 'World'')

SyntaxError: ignored

In [22]:
print("Hello 'World'")

Hello 'World'

In [23]:
print('Hello \'World\'')
print("Hello \"World\")

Hello 'World'

In [24]:
print('Hello \n "World"')

Hello
 "World"

In [26]:
print("이름 \n전화")

이름
전화

In [28]:
print('이름\t연락처')
print('홍길동\t010-9934-9030')

이름	연락처
홍길동	010-9934-9030

In [29]:
print('재미있는 ','파이썬')

재미있는  파이썬

In [31]:
print('평점' , end=':')
print('5점')

평점:5점

In [32]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [37]:
# %연산자

print(10)
print('%d' % 10)      # %d decimal 정수
print('%f' % 3.14)    # %f float 실수
print('%s' % '학생')  # %s string 문자열

print('%d 을 입력하세요' % 10)    # %d decimal 정수
print('원주율은 %f 입니다' % 3.14)
print('원주율은 %s 입니다' % 3.14)
std = "대학생"
print('저는 %s입니다.' % std)
print('저는', std, '입니다.')

10
10
3.140000
학생
10 을 입력하세요
원주율은 3.140000 입니다
원주율은 3.14 입니다
저는 대학생입니다.
저는 대학생 입니다.

In [38]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)

1
    1
1

In [41]:
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %5.1f 입니다.' % 3.14)
print('원주율은 %-5.1f 입니다.' % 3.14)
print('원주율은 %.2f 입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [42]:
name = 'kal'
print('내 이름은 %s입니다.'% name)

내 이름은 kal입니다.

In [46]:
height = 185.5
print('내 키는 %.1f입니다.' % height)
print('내 키는 %s입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다.' % (height, name))
print('내 키는 {}이고 이름은 {}입니다.'.format(height, name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kal입니다.
내 키는 185.5이고 이름은 kal입니다.

In [44]:
# format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}' .format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [50]:
print('My name is {}. I\'m {} years old.'.format('james', 25))
print('My name is {1}. I\'m {0} years old.'.format(25, 'james'))
print('My name is {name}. I\'m {age} years old.'.format(age=25, name='james'))

My name is james. I'm 25 years old.
My name is james. I'm 25 years old.
My name is james. I'm 25 years old.

In [48]:
# f-string
# 파이썬 3.6 이후 부터 사용 가능


who = 'you'
how = 'happy'
print(f'{who} make me {who}')

you make me you

In [51]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [54]:
##############
# 입력 input()
##############

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은' , n ,'입니다.')

3124
당신이 입력한 내용은 3124 입니다.
당신이 입력한 내용은 3124 입니다.

In [55]:
n = input('당신의 나이를 입력하세요')
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은' , n ,'입니다.')

당신의 나이를 입력하세요26
당신이 입력한 내용은 26 입니다.
당신이 입력한 내용은 26 입니다.

In [62]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 1 기본
print('당신의 이름은', name, '이고 나이는' ,age, '입니다.')
# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')
# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 입니다.'.format(name, age))
# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %s 입니다.' % (name, age))


print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요고혁배
당신의 나이를 입력하세요26
당신의 이름은 고혁배 이고 나이는 26 입니다.
당신의 이름은 고혁배 이고 나이는 26 입니다.
당신의 이름은 고혁배 이고 나이는 26 입니다.
당신의 이름은 고혁배 이고 나이는 26 입니다.
고혁배 <class 'str'>
26 <class 'str'>

In [65]:
month = int(input('할부 개월 입력 : '))
sum = 50000
monthly = round(sum/month)

# 1 기본
print(month,'개월 동안 매달 내는 금액은', monthly , '입니다.')
# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {monthly} 입니다..')
# 3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'.format(month, monthly))
# 4 % 연산자
print('%d개월 동안 매달 내는 금액은 %f 입니다.' % (month, monthly))

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666.666666666668 입니다.
3개월 동안 매달 내는 금액은 16666.666666666668 입니다..
3개월 동안 매달 내는 금액은 16666.666666666668 입니다.
3개월 동안 매달 내는 금액은 16666.666667 입니다.