<a href="https://colab.research.google.com/github/rhgurqo52/ai/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2])    #파이썬은 인덱스 시작이 0이다.
print(s[-1])    #-1은 마지막 인덱스를 가리킨다.
print(s[4])    

ss = '900101-2547389'

addr = '서울시 강남구 역삼동 1번지'
print(addr)

r
d
d
서울시 강남구 역삼동 1번지

In [2]:
# print()

print('좋은 아침입니다.')

좋은 아침입니다.

In [3]:
when = '저녁'
print('좋은 ',when,'입니다.')
print('좋은 %s입니다.' % when)
print('좋은 {}입니다.'.format(when))

print(f'좋은 {when}입니다.')  # *****

좋은  저녁 입니다.
좋은 저녁입니다.
좋은 저녁입니다.
좋은 저녁입니다.

In [4]:
############################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
############################################
# 여러개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List 
# 지금까지 사용한 숫자 1, 문자1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소 element 라고 한다.

# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다.)
list = [1,2,3,'대한', '민국', True, False]
print(list)
score = [80,90,70,60]
print(score)
# 리스트는 인덱싱indexing과 슬라이싱slicing이 가능하다.
print(score[0])    #파이썬은 0부터 시작한다.
print(score[0:2])  # 슬라이싱은 0부터 2미만...처럼 끝은 미만을 나타낸다.

# 리스트는 수정/삭제가 가능하다. (mutable, 튜플은 immutable)
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] # indexerror 아주 많이 접하게 될 에러(예외)

# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a + list_b)
print(list_a * 3)
print(len(list_a))

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [5]:
# 리스트에 많이 사용되는 함수들...
# append (*****) 리스트에 요소를 추가할 때 사용, 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [6]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하는 추가


list = []
list.insert(0, 10)
print(list)

list.insert(1, 50)
print(list)

[10]
[10, 50]

In [7]:
list_a = [1,2,3]
list_a.extend([4,5,6])
list_a  # 파괴적 처리

[1, 2, 3, 4, 5, 6]

In [8]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a)   # 비파괴적 처리

# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend() 를 사용하면 list_a에 직접적으로 영향을 주게된다. (파괴적 처리)

# 기본적으로 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [9]:
# del() 리스트에서 인덱스 위치 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉 2까지
print(list_a)

del list_a[:] # 생략하면 처음 : 생략하면 끝
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [11]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

IndexError: ignored

In [13]:
list_a.pop(1)
list_a

IndexError: ignored

In [14]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2)   # remove 는 요소의 값을 찾아 삭제한다.
                   # 동일한 값이 여러개
                   # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.



print(list_c)
list_c.remove(2)
print(list_c)

[1, 1, 2]
[1, 1]

In [15]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) # pop 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [16]:
# in / not in  리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list)

print(221 in list)

print(221 not in list)

True
False
True

In [17]:
# 딕셔너리 (java의 map, JS의 json과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {}를 사용하여 데이터를 저장한다.
# 삽입/삭제가 가능하다. mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "name": "엔드 게임",
    "no": 1,
    "type": "히어로 무비",
    "price": 10000
}
print(dict)
dict['name']

{'name': '엔드 게임', 'no': 1, 'type': '히어로 무비', 'price': 10000}

'엔드 게임'

In [18]:
dict = {
    "감독": ["안소니","루소"],
    "배우": ["타노스","토르","헐크"]
}
dict["감독"]

['안소니', '루소']

In [19]:
dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])


dict['name'] = '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

dict['price'] = 5000

print(dict)

dict['price'] = 4000

print(dict)

del dict['price']
print(dict)

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀
name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [20]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [21]:
# dict 자주 등장하는 에러(예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError 가 발생되는 것처럼
#          딕에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.

dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

del dict['name']

In [22]:
dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict:
  del (dict[key])
else:
  print('존재하지 않은 키에 접근하고 있습니다..')

print(dict)

>삭제를 원하는 데이터의 키값을 입력하세요 : 456465121
존재하지 않은 키에 접근하고 있습니다..
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [23]:
# 튜플 xuple
# () 를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입,수정 등이 불가능하다 immutable
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다. (1,)  (1,2)  [1]
# 튜플은 괄호를 생략할 수 있다.

t = (1, 2)
print(t)
print(type(t))
t2 = 3, 4
print(t2)
print(type(t2))

t3 = (5)
print(t3)
print(type(3))

t4 = 5
print(t4)
print(type(t4))

t5 = (5,)
print(t5)
print(type(t5))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
5
<class 'int'>
(5,)
<class 'tuple'>

In [26]:
t = (1,2,3,4,5)
# t[0] = 8    튜플은 수정이 불가능하다. immutable
del t[0]  튜플은 삭제가 불가능하다.    immutable

SyntaxError: ignored

In [27]:
t = (1,2,3,4,5)

print(t[1])  # 튜플은 인덱싱이 가능하다.
print(t[2:]) # 튜플은 슬라이싱이 가능하다.

2
(3, 4, 5)

In [28]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1 + t2)
print(t1)
print(t2)
# 비파괴적 연산은 가능하다.

print(t1 * 3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [29]:
# Set 집합
# {} 를 사용하여 작성한다.
# 중복을 허용하지 않는다.
# 순서가 없다. unordered 리스트나 튜플은 순서가 있기때문에 ordered 인덱싱과 슬라이싱을 통해 
# 값을 꺼낼수 있지만 딕셔너리와 셋은 순서가 없어 불가능하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다.
# set자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# mutable 수정/삭제가 가능하다.
set = {1,1,2,2,2,3,4}
print(set)

print(set[0])

{1, 2, 3, 4}

TypeError: ignored

In [32]:
s1 = set([1,2,3])
print(type(s1))
print(s1)
#print(s1[0])

li = list(s1)
print(type(li))
print(li)
li[0]

TypeError: ignored

In [33]:
# 집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합 모두 포함되는 원소 -> 교집합
print(set1 & set2)
print(set1.intersection(set2))

# 양쪽 집합의 모든 원소 -> 합집합
print(set1 | set2)
print(set1.union(set2))

# 두개 집합의 차 -> 차집합
print(set1 - set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [34]:
# 집합은 삽입 가능 mutable

set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

# 집합은 삭제가 가능하다. mutable
# 집합은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제한다.
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [36]:
# Q1. 예)학번을 입력하세요 >> 31025
#      출력) 3학년 10반 25번

sn = input('학번을 입력하세요>>')

print(f'{sn[0]}학년 {sn[1:3]}반 {sn[3:]}번')

학번을 입력하세요>>31025
3학년 10반 25번

In [37]:
# 02. 입력) 차량 번호를 입력하세요 >> 서울2가1234
#           차량 번호를 입력하세요 >> 288가1233

#     출력) 서울2가1234의 차량번호 끝 4자리는 1234입니다.
#           288가 1233의 차량번호 끝 4자리는 1233입니다.

sn = input('차량 번호를 입력하세요 >>')

print(f'{sn}의 차량번호 끝 4자리는 {sn[-4:]}입니다. ')

차량 번호를 입력하세요 >>서울2가1234
서울2가1234의 차량번호 끝 4자리는 1234입니다.

In [40]:
# 홀수 갯수의 문자열을 입력 받아
# 가운데 글자를 추출하는 프로그램을 구현하시오
# 입력) 문자열을 홀수로 입력하세요 >> austins
# 입력) 문자열을 홀수로 입력하세요 >> abc

# 출력) 문자열의 가운데 글자는 t입니다.
# 출력) 문자열의 가운데 글자는 b입니다.

# ctx = 'austins'

#print(int(len(ctx)))

3
3
1

In [43]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소부터 7번째 요소만 추출한 결과에서
# 2번째 요소를 출력하는 프로그램을 구현하세요. (한줄로.....)

li = [1,2,3,4,5,6,7,8,9]
print(li[2:7][1])

4

In [45]:
#######################
# if
#######################

# 특정 조건을 만족하는지 여부에 딸라 실행되는 코드가 달라져야할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식:
#   만족할때 실행 코드
# else:
#   만족하지 못할때 실행 코드

# if 맑으면:
#   소풍을 간다.
# else:
#   공부를 한다.

if False:
  print('만족')
else:
  print('불만족')

불만족

In [47]:
age = int(input('당신의 나이를 입력하세요 >>'))

if age >= 18:
  print('당신은 성인입니다. ')
else:
  print('당신은 성인이 아닙니다. ')

당신의 나이를 입력하세요 >>15
당신은 성인이 아닙니다.

In [51]:
age = int(input('당신의 나이를 입력하세요 >>'))

if age < 10:
  print('당신은 유아입니다. ')
elif age < 20:
  print('당신은 10대입니다.')
elif age < 30:
  print('당신은 20대입니다.')
elif age < 40:
  print('당신은 30대입니다.')
elif age < 50:
  print('당신은 40대입니다.')
elif age < 60:
  print('당신은 50대입니다.')
elif age < 70:
  print('당신은 60대입니다.')
else:
  print('당신은 유아 아닙니다. ')

당신의 나이를 입력하세요 >>22
당신은 20대입니다.

In [ ]:
# 입력) 당신의 점수를 입력하세요 >>> 95
# 출력) 당신의 점수는 95 점이고 학점은 A학점입니다.
#                       --               -
# 조건) 100점 초과인 점수는 없다. 0점 미만인 점수도 절대 없음
#  100~ 90 A
#   89~ 80 B
#   79~ 70 C
#   69~ 60 D
#   나머지 F

In [52]:
# 임의의 정수를 입력받아서 그 수가 3의 배수인지를 확인하는 
# 프로그램을 작성하시오 % 홀수 짝수 배수

# (입력) 정수를 입력하세요 >>> 14
# (출력) 14는 3의 배수가 아닙니다.

# (입력) 정수를 입력하세요 >>> 15
# (출력) 15는 3의 배수가 아닙니다.

n = int(input("정수를 입력하세요"))
r = ""
if n%3 !=0:
  r = "가 아닙니다"
else:
  r = "입니다"

print(f"{n}은 3의 배수{r}")

정수를 입력하세요15
15은 3의 배수입니다

In [ ]:
# 정수 3개를 입력 받아서 그 중에서 가장 큰수를 찾아 출력하는 프로그램

# 정수1입력>3
# 정수2입력>1
# 정수3입력>2

# 가장 큰수는 3입니다.